{
  "client_id": "{{client_id}}",
  "timestamp_micros": {{event_timestamp}},
  "nonPersonalizedAds": false,
  "events": [
    {
      "name": "{{event_name}}",
      "params": {{param_fields}}
    }
  ]
}