{
  "client_id": "{{client_id}}",
  "timestamp_micros": {{event_timestamp}},
  "nonPersonalizedAds": false,
  "user_properties": 
    {{user_properties}},
  "events": [
    {
      "name": "{{event_name}}"
    }
  ]
}