{
  "client_id": "{{client_id}}",
  {{user_id}}
  "timestamp_micros": "{{event_timestamp}}",
  "nonPersonalizedAds": false,
  "consent": {
    "ad_user_data": "GRANTED",
    "ad_personalization": "GRANTED"
  },
  "user_properties": 
    {{user_properties}},
  "events": [
    {
      "name": "{{event_name}}",
      "params": {
        "session_id": "{{session_id}}"
      }
    }
  ]
}
